ago==0.0.9
biplist==1.0.1
boto==2.45.0
click==6.6
dj-database-url==0.4.1
Django==1.8.17
django-admin-sortable==1.8.3
django-ipware==1.1.6
django-rq==0.8.0
django-ses==0.8.1
Pillow==3.4.2
psycopg2==2.6.2
pytz==2016.10
redis==2.10.5
requests==2.12.4
rq==0.7.1
xlrd==1.0.0
